

section {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    height: 400px;
    overflow-y: auto;

    li {
        border: 1px solid;
        padding: 1rem;
        border-radius: 0.5rem;
        width: 40%;
    }
}